{% include 'header.html' %}

<div class="page-content">
<div class="visitor-card" id="visitor-pass">
  <h2>🎫 Your Visitor Pass</h2>
  <h3>👤 {{ visitor[1] }}</h3>
  <p>📱 Phone: {{ visitor[2] }}</p>
  <p>🧑‍💼 Host: {{ visitor[4] }}</p>
  <p>📍 Area: {{ visitor[7] }}</p>
  <p>📝 Reason: {{ visitor[3] }}</p>
  <p>📅 Valid up to: {% if visitor[11] %}{{ visitor[11] }}{% else %}N/A{% endif %}</p>
  <!--<p>🕑 Check-In: 
    {% if visitor[8] %}
      {{ visitor[8] }}
    {% else %}
      Pending
    {% endif %}
  </p>-->
  
  <!--<p>Status: {{ 'Checked In at ' + checkin_time if checkin_time else 'Pending' }}</p> -->



  <img src="{{ url_for('qr_image', visitor_id=visitor[0]) }}">

</div>

<div class="actions">
  <button onclick="window.print()">🖨️ Print PDF</button>
</div>
</div>

{% include 'footer.html' %}
